

/**************** element tags ****************/

body {
	background-color: #fff;
	font-family: 'Pompiere', cursive;
}

p {
	font-family: sans-serif;
}
nav {
	background-color: #01274E;
	font-size:2em;
}
 /* fixes bootstrap defaults for nav links */
nav, .nav-tabs, .nav-justified a {
	color: #FBFEFF;
}

header{
	background-color: #01274E;
}

footer {
	background-color: #01274E;
	text-align: center;
	font-size: .8em;
	color: #8D6B2C;
	width:100%;
	height: 100%;
}

/**************** classes ****************/

/* Cool Harry Potter Font */ 


.navPotterFont{
	font-family: 'Henny Penny', cursive;
}

/* centers and sizes logo in nav/header */
.logoImage{
	display: block; margin-left: auto; margin-right: auto;
	max-height:150px;
	width: 150px;
}

/* Fixes bootstrap default for active link tab */
.nav-tabs > li > a:active {
	background-color: #8D6B2C;
	color:#01274E;
	border-color: #01274E;
}

/* Fixes bootstrap default for hover on nav links */
.nav-tabs > li > a:hover {
	background-color: #01274E;
	color:#8D6B2C;
	border: none;
}

/* Fixes bootstrap default for hover on active nav links */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #8D6B2C;
	background-color: #01274E;
}

/* Fixes bootstrap default for border beneath nav links */
.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}

/* Fixes bootstrap default for border around active nav links */
active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a {
	border-color: #01274E;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-color: #01274E;
}

.navbar {
	height: auto;
	margin: 0 auto -155px;
	max-width: 100%;
}
/**************** Cards ****************/

.card {
	margin: 3%;
	width: 27%;
	border: 3px solid grey;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.card-title {
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
	font-size: 3rem;
}

.card-text {
	max-height: 100%;
	max-width: 100%;
	margin: 3%;
	margin-bottom: 5%;
}

.card-img-top {
	max-width: 100%;
}

#productPrice {
	border-top: 1px solid grey;
	font-size: 3em;
	border-bottom: 1px solid grey;
}

#checkBox 
{
	margin-bottom: 3%;
	height: 30px;
	width: 30px;
}

/***********************
HOME PAGE
***********************/

#homePageBody {
	background-image: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	/*min-width: 100%;*/
}

.one-edge-shadow 
{
  -webkit-box-shadow: 15px 15px 20px -6px gray;
     -moz-box-shadow: 15px 15px 20px -6px gray;
          box-shadow: 15px 15px 20px -6px gray;
 }

 #onlyButtonOnHomePage
 {
 	font-family: 'Pompiere', cursive;
 	display: block;
 	width:300px;
 	height: 200px;
 	margin: auto;
 	margin-top: 50px;
 	margin-bottom: 100px;

 	border-radius: 20px;
 	font-weight: 900;
 	font-size: 3em;
 	overflow: hidden;

 }

.buttonStyle
{
  -webkit-box-shadow: 15px 15px 20px -6px black;
     -moz-box-shadow: 15px 15px 20px -6px black;
          box-shadow: 15px 15px 20px -6px black;
   background-color: lightgray;


}
#homeTitle
{
	text-align: center;
	font-weight: 900;
	font-size: 5em;
	color: white;
}

#homeSubTitle
{
	text-align: center;
	font-weight: 900;
	font-size: 3em;
	width: 50%;
	margin: auto;
	padding-top: 20px;
}

#arrow
{
	padding-top: 20px;
	display: block;
	width:10%;
	margin: auto;
}
/***************** wand list page styles *******************/
body#wand-list 
{
	
}

/***************** Wand Builder *******************/

/*.jumbotron {
	border: 1px solid red;
	margin: 5%;
	max-width: 60%;
	background-color: transparent;
	padding-left: 100px;
}*/

.wandImage {
	border: 1px solid red;
	max-width: 50%;
	max-height: 50%;
	margin: 0 auto;
	margin: 5%;
	margin-left: 10%
}

.wandFeatures {
	border: 1px solid red;
	margin-top: 10%;
	padding-right: 60px;
}

.wandContainer {

	margin: 5%;
	max-width: 60%;
	background-color: transparent;
	padding-left: 80px;
}

.hereIsYourWand {
	padding-left: 50px;
	font-size: 4rem;
}

.randomWandName {

	font-family: 'Henny Penny', cursive;
	font-size: 8rem;
	text-align: center;
}
