

/**************** element tags ****************/

body {
	background-color: #fff;
}

nav {
	background-color: #01274E;
	font-size:2em;
}
 /* fixes bootstrap defaults for nav links */
nav, .nav-tabs, .nav-justified a {
	color: #FBFEFF;
}

header{
	background-color: #01274E;
}

footer {
	background-color: #01274E;
	text-align: center;
	font-size: .8em;
	color: #8D6B2C;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6 {
	font-family: 'Pompiere', cursive;
}

/**************** classes ****************/

/* Cool Harry Potter Font */ 


.navPotterFont{
	font-family: 'Henny Penny', cursive;
}

/* centers and sizes logo in nav/header */
.logoImage{
	display: block; margin-left: auto; margin-right: auto;
	max-height:150px;
	width: 150px;
}

/* Fixes bootstrap default for active link tab */
.nav-tabs > li > a:active {
	background-color: #8D6B2C;
	color:#01274E;
	border-color: #01274E;
}

/* Fixes bootstrap default for hover on nav links */
.nav-tabs > li > a:hover {
	background-color: #01274E;
	color:#8D6B2C;
	border: none;
}

/* Fixes bootstrap default for hover on active nav links */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #8D6B2C;
	background-color: #01274E;
}

/* Fixes bootstrap default for border beneath nav links */
.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}

/* Fixes bootstrap default for border around active nav links */
active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a {
	border-color: #01274E;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-color: #01274E;
}
/***************** wand list page styles *******************/
body#wand-list {
	
}
