/**************** element tags ****************/

body {
	background-color: #E2E8F5;
	font-family: 'Pompiere', cursive;
}

p {
	font-family: sans-serif;
}
nav {
	background-color: #01274E;
	font-size:2em;
}
 /* fixes bootstrap defaults for nav links */
nav, .nav-tabs, .nav-justified a {
	color: #FBFEFF;
}

header{
	background-color: #01274E;
}

footer {
	background-color: #01274E;
	text-align: center;
	font-size: .8em;
	color: #8D6B2C;
	width:100%;
	height: 100%;
}

/**************** classes ****************/

/* Cool Harry Potter Font */ 


.navPotterFont{
	font-family: 'Henny Penny', cursive;
}

/* centers and sizes logo in nav/header */
.logoImage{
	display: block; margin-left: auto; margin-right: auto;
	max-height:150px;
	width: 150px;
}

/* Fixes bootstrap default for active link tab */
.nav-tabs > li > a:active {
	background-color: #8D6B2C;
	color:#01274E;
	border-color: #01274E;
}

/* Fixes bootstrap default for hover on nav links */
.nav-tabs > li > a:hover {
	background-color: #01274E;
	color:#8D6B2C;
	border: none;
}

/* Fixes bootstrap default for hover on active nav links */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #8D6B2C;
	background-color: #01274E;
}

/* Fixes bootstrap default for border beneath nav links */
.nav-tabs.nav-justified > li > a {
	border-bottom: none;
}

/* Fixes bootstrap default for border around active nav links */
active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a {
	border-color: #01274E;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    border-color: #01274E;
}


/**************** Products **************/
h2.products {
	text-align: center;
	font-size: 3em;
	font-weight: 900;
	margin-top: 2em;
}

h4.products {
	text-align: center;
}
.navbar {
	height: auto;
	margin: 0 auto -155px;
	max-width:100%;
}

#onlyButtonOnProductsPage
{
	font-family: 'Pompiere', cursive;
 	display: block;
 	width:300px;
 	height: 150px;
 	margin: auto;
 	margin-top: 50px;
 	margin-bottom: 100px;
 	border-radius: 20px;
 	font-weight: 900;
 	font-size: 3em;
 	overflow: hidden;
 	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 20px;
}
/**************** Cards ****************/

.card {
	margin: 3%;
	width: 27%;
	border: 3px solid grey;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	min-height: 600px;
	max-height: 6500px;
	background-image: url('./images/whimsy.png');

          box-shadow: 15px 15px 20px -6px gray;
 
}

.card-title {
	border-bottom: 1px solid grey;
	padding-bottom: 8px;
	font-size: 3rem;
	color: #01274E;
	font-weight: bold;
}

.card-text {
	max-height: 100%;
	max-width: 100%;
	margin: 3%;
	margin-bottom: 5%;
}

.card-img-top {
	max-width: 90%;
	max-height: 250px;
	min-height: 250px;
	min-width: 344px;
	margin-top: 4%;
	margin-bottom: 4%;
}

#productPrice {
	border-top: 1px solid grey;
	font-size: 3em;
	border-bottom: 1px solid grey;
	color: #01274E;
}

#checkBox 
{
	margin-bottom: 3%;
	height: 30px;
	width: 30px;
	text-align: center;
    bottom: 0px;
    font-size: 2em;
}

#clickSelectText {
	font-family: 'Henny Penny', cursive;
	color: #F92886;
	font-weight: Bold;
	max-width: 100%;
	bottom: 0px;	

}

input[type=checkbox]:after {
	back
}

/***********************
HOME PAGE
***********************/

#homePageBody {

	background: url(images/bg.jpg) no-repeat center center fixed; 
	background-image: url("images/background.png");	
}

.one-edge-shadow 
{
  -webkit-box-shadow: 15px 15px 20px -6px gray;
     -moz-box-shadow: 15px 15px 20px -6px gray;
          box-shadow: 15px 15px 20px -6px gray;
 }

 #onlyButtonOnHomePage 
 {
 	font-family: 'Pompiere', cursive;
 	display: block;
 	width:300px;
 	height: 150px;
 	margin: auto;
 	margin-top: 50px;
 	margin-bottom: 100px;
 	border-radius: 20px;
 	font-weight: 900;
 	font-size: 3em;
 	overflow: hidden;
 	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 20px;
 }

.buttonStyle
{
  -webkit-box-shadow: 15px 15px 20px -6px black;
     -moz-box-shadow: 15px 15px 20px -6px black;
          box-shadow: 15px 15px 20px -6px black;
   background-color: lightgray;

}

.productButton {
	font-family: 'Pompiere', cursive;
	font-size: 5rem;
	display: block;
 	width:300px;
 	height: 150px;
 	margin: auto;
 	margin-top: 50px;
 	margin-bottom: 100px;
 	border-radius: 20px;
 	font-weight: 900;
 	overflow: hidden;
 	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 10px;
}

#homeTitle
{
	text-align: center;
	font-weight: 900;
	font-size: 4em;
	color: white;
}

#homeSubTitle
{
	text-align: center;
	font-weight: 900;
	font-size: 3em;
	width: 50%;
	margin: auto;
	padding-top: 20px;
}

#arrow
{
	padding-top: 20px;
	display: block;
	width:10%;
	margin: auto;
}

.homeContainer {
	min-height: 500px;
	max-height: 500px;
}
/***************** wand list page styles *******************/
body#wand-list 
{
	
}

/***************** Wand Builder *******************/

/*.jumbotron {
	border: 1px solid red;
	margin: 5%;
	max-width: 60%;
	background-color: transparent;
	padding-left: 100px;
}*/
.row {
	max-width: 100%;
}
.wandImage {
	
	max-width: 68%;
	max-height: 68%;
	margin: 0 auto;
	margin: 5%;
}

.wandFeatures {

	margin-top: 5%;
	padding-right: 10%;

}


/*************************** CONTACT ***************************/

.contactGuide, .contactList {
	width: 80%;
	margin: 2em auto;
	text-align: center;
}

.icon {
	width: 100px;
	min-height: 40px;
	padding: 0;
	margin: 0;
	list-style-type: none;

}

.iconName {
	font-size: 2.5em;
	list-style-type: none;
}
.iconName {
 	display: inline-block;
 	padding-right: 1em;
 }



.wandContainer {

	margin: 5%;
	max-width: 60%;
	background-color: transparent;
	padding-left: 80px;
}

.hereIsYourWand {
	font-size: 4rem;
	text-decoration: underline;
	text-align: center;
}

.randomWandName {
	margin-top: 10%;
	margin-bottom: 10%;
	font-family: 'Henny Penny', cursive;
	font-size: 8rem;
	color: #F92886;
	text-align: center;
}
#builderButton {
background-repeat: no-repeat;
 	/*color: white;*/
 	font-family: 'Pompiere', cursive;
 	display: block;
 	width:200px;
 	height: 50px;
 	border-radius: 20px;
 	font-weight: 900;
 	font-size: 2em;
 	overflow: hidden;
 	position: absolute;
 	bottom: 2;
 	right: 0;
 	margin-right: 160px;
 	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 5px;	
 }
 #builderButton2 {
background-repeat: no-repeat;
 	/*color: white;*/
 	font-family: 'Pompiere', cursive;
 	width:200px;
 	height: 50px;
 	border-radius: 20px;
 	font-weight: 900;
 	font-size: 2em;
 	position: absolute;
 	margin-left: 40px;	
 	text-decoration: none;
	color: black;
	text-align: center;
	padding-top: 5px;
 	
 }


.builderBackground {
	background-color: #fff;
}








